body{
margin: 0px;
}
.head{
display: flex;
background-color:black;
font-family:"微軟正黑體";
font-weight: bold;
}
.title2{
font-size:45px;
margin:30px 0px 0px 10px;
color: white;
}
.title img{
width: 100px;
height: 100px;
float: left;
}
.nav{
font-size: 20px;
float: left;
margin-left: 47%;
}
.nav li{
float: left;
list-style-type:none;
padding: 10px;
margin-top: 30px;
color: white;
}
.footer{
font-size: 20px;
height: 350px;
background-color:black;
font-family:"微軟正黑體";
font-weight: bold;
}
.nav2{
margin-left: 21.5%;
height: 20%;
text-align: center;
}
.nav2 ul{
height: 100%;
}
.nav2 li{
float: left;
list-style-type:none;
padding: 10px 10px 10px 70px;
color: white;
margin-top:30px;
text-align: center;
}
.contact{
height: 100%;
color: white;
margin-left: -390px;
}
.container2 input[type=text], .container2 input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid	#D9B300	;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.container2 button {
  background-color: black;
  color: white;
  padding: 0px 50px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.container2 button:hover {
  opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
.container2{
	margin: 40px;
}
img.avatar {
  width: 15%;
  border-radius: 50%;
}
span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height:100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: black;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 70%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
.dropbtn{
  background-color: black;
  color: white;
  border: none;
  font-size: 20px;
  font-weight: bold;
  font-family: "微軟正黑體";
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white ;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
  text-decoration: none;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: gray;
}
